@font-face {
    font-family: 'Caveat' ;
    src: url('caveat-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('Exo2.0-Black.otf');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}