a.button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma,Serif,serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
  }

  div {
    margin: 24px;
    text-align: center;
  }
