.page {
}
.main-slider {
  background-color: #f1f2f7;
  padding-top: 30px;
  min-height: 650px;
  padding-bottom: 20px;
}
.main-slider_container {
  position: relative;
}
.container {
}
.main-slider_body {
}
.main-slider_content {
  flex: 0 0 28%;
}
.content-main {
  position: relative;
  z-index: 5;
  background-color: white;
  min-width: 405px;
  max-height: 430px;
  padding: 30px 50px 50px 50px;
}

.content-main_title {
  font-size: 22px;
  text-align: center;
}
.content-main_text {
  margin-bottom: 45px;
  line-height: 25px;
}
.content-main_button-containeer {
  text-align: center;
}
.content-main_button {
  letter-spacing: 2px;
  font-size: 16px;
  background-color: #f1f2f7;
  border-radius: 5px;
  padding: 10px 30px;
  box-shadow: 2px 3px 4px rgb(192, 192, 192);
  transition: .5s;
}
.content-main_button:hover{
  box-shadow: 4px 9px 12px rgb(192, 192, 192);
  transform: translateY(-5px);
}
.main-slider_slider {
  flex: 1 1 auto;
  min-width: 0;
}
.slider-main {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.slider-main_controls {
}
.controls-slider-main {
  display: flex;
  align-items: center;
}
.controls-slider-main_dotts {
  margin-left: 21%;
  margin-bottom: 2%;}
.swiper-plagination-clickable {
}
.swiper-pagination-bullets {
  display: flex;
}
.swiper-pagination-bullet {
  --swiper-theme-color: white;
  display: flex;
  flex: 0 0 27px;
  height: 27px;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
}
.swiper-pagination-bullet:not(last-child) {
  margin-right: 12px;
}
.swiper-pagination-bullet::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: white 0.3s ease 0s;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #848484;
  transition: all 0.3s ease 0s;
  transform: scale(0);
  background-color: #f1f2f7;
}
.swiper-pagination-bullet-active::after {
  background-color: white;
  border: 1px solid #848484;
  z-index: 2;
}
.swiper-pagination-bullet-active::before {
  transform: scale(1);
}
.controls-slider-main_arrows {
}
.swiper-wrapper {
}
.swiper-slide {
  max-width: 795px;
}
.swiper-img {
  position: relative;
  padding-top: 56.25%;
}
.swiper-img img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1030px;
  margin: 2% auto;
  flex-wrap: wrap;
}
.character_item {
  display: flex;
  margin: 10px;
}
.character_img {
  margin-right: 5px;
}
.character_text {
  font-size: 16px;
  line-height: 19px;
}
@media (min-width: 1024px) {
  .main-slider_body {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .controls-slider-main_dotts {
    margin-left: 0;
    justify-content: center;
  }
  .content-main {
    min-width: 260px;
    padding: 20px 30px 30px 30px;
  }
  .content-main_title {
    font-size: 18px;
    text-align: center;
  }
  .content-main_text {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 16px;
  }
  .content-main_buttom {
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 20px;
  }
}
@media (max-width: 860px) {
  .character {
    max-width: 400px;
  }
  .character_img {
    margin-right: 3px;
  }
  .character_img img {
    height: 30px;
    width: 30px;
  }
  .character_text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 400px) {
  .character {
    max-width: 160px;
  }
}
