*{
    background-color: black;
}
article{
    display: block;
    box-sizing: border-box;
    margin-left:8%;
    padding-right: 0;
    overflow: hidden;}
figure {display: inline-block;
    background: green;
    margin: 0;
    box-sizing: border-box;
    border: solid #aa4fff 5px ;
    padding: 10px;
    text-align: center;
    font-size: larger;
    width: 280px;
    height: 300px;

}
img{
    width: 250px;
    height: 250px;
    display: block;
    overflow: hidden;
}
figcaption {
    color: tomato ;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: darkred 10px solid;*/
    justify-content: space-evenly;
    align-self: center;

}

.columns {


}

.column_1 {
    margin-top: 10px;
    flex-basis: 100%;
    justify-items: center;
    order: 1;
}

.column_2 {flex-basis: 200px;
    order: 3;
}

.column_3 {flex-basis: 200px;
    order: 4;
}

.column_4 {flex-basis: 200px;
    order: 5;
}

.column_5 {flex-basis: 200px;
    order: 2;
}

.column_6 {flex-basis: 200px;
    order: 6;
}

.title1 {
    margin: auto auto 20px auto ;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding: 7px;
    width: 80%;
}

.title {
    margin: auto auto 20px auto ;
    border: 1px solid black;
    display: block;
    box-sizing: content-box;
    font-weight: bold;
    text-align: left;
    padding: 7px;
    height: 470px;
}
@media (max-width: 640px)  {
    * {
        background-color: yellow;
    }

    article {
        display: none;
        box-sizing: border-box;
        margin-left: 8%;
        padding-right: 0;
        overflow: hidden;
    }

   /* figure {
        display: inline-block;
        background: green;
        margin: 0 0 5px 0;
        box-sizing: border-box;
        border: solid #aa4fff 5px;
        padding: 10px;
        text-align: center;
        font-size: larger;
        width: 8%;
        height: 7%;

    }*/

    img {
        width: 2.5%;
        height: 2.5%;
        display: block;
        overflow: hidden;
    }

    figcaption {
        font-size: 5px;
        color: palevioletred;
    }
}
@media (min-width: 640px) and (max-width: 760px) {
    *{
        background-color: green;
    }
    article{
        display: block;
        box-sizing: border-box;
        margin-left:19%;

        padding-right: 0;
        overflow: hidden;}
    /*figure {display: inline-block;
        background: green;
        margin: 0 0 5px 0;
        box-sizing: border-box;
        border: solid #aa4fff 5px ;
        padding: 10px;
        text-align: center;
        font-size: larger;
        width: 10%;
        height: 12%;

    }*/
    img{
        width: 8%;
        height: 8%;
        display: block;
        overflow: hidden;
    }
    figcaption {
        font-size: 10px;
        color: blue ;
    }
}
@media (min-width: 760px) and (max-width: 1280px) {
    *{
        background-color: red;
    }
    article{
        display: block;
        box-sizing: border-box;
        margin-left:3%;
        padding-right: 0;
        overflow: hidden;}
  /*  figure {
        display: inline-block;
        background: green;
        margin: 0 0 5px 0;
        box-sizing: border-box;
        border: solid #aa4fff 5px ;
        padding: 10px;
        text-align: center;
        font-size: larger;
        width: 280px;
        height: 300px;

    }*/
    img{
        width: 25%;
        height: 25%;
        display: block;
        overflow: hidden;
    }
    figcaption {
        font-size: 28px;
        color: darkcyan ;
    }
}