.cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:2%;
}
img{
    width: 14em;
    height: 14em;
    display: block;
    overflow: hidden;
}